<!doctype html>
<html> 
  <head>
  	<link rel="stylesheet" href="{{"/assets/css/styles.css" | relative_url }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">﻿
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Inconsolata&family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
  	  		<div style="height:1000px;">
				{{ content }}
			</div>
    
  </body>
  <footer class="w3-animate-opacity">
  	{% include footer.html %}
  </footer>
</html>
