<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="favicon.png">﻿
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Major+Mono+Display|Assistant:light,extra-light|Tajawal:light,extra-light|Dosis|IBM+Plex+Mono|M+PLUS+1p|" rel="stylesheet">
  </head>
  <body style="background-color: black;">
    <div>
      {% include header-contact.html %}
          </div>
          <div style="height:1000px;">
            <div class="content-contact w3-animate-opacity">
              {{ content }}
            </div>
      </div>
    <div class="parallax"></div>
  </body>
</html>
